@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    scroll-snap-type: y mandatory;
}
.main-con{
    display: block;
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar{
    scroll-behavior: smooth;
    display: none;
}
.first-con-header{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid rgba(221, 221, 221, 0.712);
    background-color: #fff;
}
.fheader-wrap,
.sheader-wrap{
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-contact-info-con{display: flex;}
.header-contact{
    font-size: 11px;
    color: #51668a;
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}
.header-contact > i{
    font-size: 18px;
    margin: 5px;
}
.header-social-media-language-con{
    display: flex;
    align-items: center;
}
.f1-con > .lang > select,
.header-social-media-language-con > select{
    border: none;
    outline: none;
    background: none;
}
.header-social-media-con{
    margin: 0 10px;
}
.header-social-media-con > a{
    text-decoration: none;
    color: #51668a;
    font-size: 18px;
}
.second-con-header{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.712);
    background-color: #fff;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.header-logo-con > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7c29ff;
}
.header-logo-con > a > img{
    width: 40px;
    margin: 0 6px 0 0;
}
.header-logo-con > a > span{
    font-size: 25px;
    font-weight: 700;
}
.header-navbar-menu-con{
    display: flex;
    align-items: center;
}
.header-navbar-menu-con > nav > ul{
    display: flex;
    justify-content: center;
}
.header-navbar-menu-con > nav > ul > li{
    list-style: none;
    margin: 0 8px;
    cursor: default;
    height: 60px;

    display: flex;
    align-items: center;
}
.header-navbar-menu-con > nav > ul > li > a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgba(81, 102, 138, 0.7);
    transition: .3s ease-in-out;
}
.header-navbar-menu-con > nav > ul > li > a:hover{
    color: #7c29ff;
}
.header-navbar-menu-con > nav > ul > .active{
    border-bottom: 3px solid #7c29ff;
}
.header-navbar-menu-con > nav > ul > .active > a{
    color: #7c29ff;
}
.request-quote-con{
    height: 60px;

    display: flex;
    align-items: center;
}
.request-quote-con > button {
    height: 40px;
    outline: none;
    border: none;

    padding: 0 18px;
    margin: 0 10px;
    text-align: center;

    border-radius: 6px;
    background-color: #5831ff;

    color: #fff;
    font-size: 12px;
    font-weight: 600;

    cursor: pointer;
}
.content{
    width: 100%;
    height: calc(100vh - 100px);

    background-color: rgba(36, 36, 36, 0.7);
    background-image: url(asset/1bg.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;

    display: flex;
    align-items: center;
}
.con-text-con{
    width: 550px;
    margin: 0 0 0 220px;
}
.con-text-con > h1{
    color: #fff;
    font-size: 65px;
    line-height: 90px;
}
.con-text-con > p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin: 20px 0 40px 0;
}
.ctc-btn{
    display: flex;
}
.ctc-btn > button{
    width: 170px;
    height: 50px;
    margin-right: 20px;

    outline: none;
    border: none;
    border-radius: 6px;

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
    transition: .3s ease-in-out;
}
.ctc-btn > button:nth-child(1){
    background-color: #5831ff;
    color: #fff;
}
.ctc-btn > button:nth-child(1):hover{
    background-color: rgb(70, 44, 189);
}
.ctc-btn > button:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.ctc-btn > button:nth-child(2) > i{
    font-size: 16px;
}
.ctc-btn > button:nth-child(2):hover{
    background-color: #d8d8d8;
}
.content2{
    width: 100%;
    height: calc(100vh - 60px);

    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}
.content2-wrap{
    width: 70%;
    height: 500px;

    display: flex;
    justify-content: space-between;
    margin: auto;
}
.c2-left-con{
    width: 50%;
    display: flex;
    align-items: center;
}
.c2-left-con > .c2-left-wrap > h4{
    color: #222;
}
.c2-left-con > .c2-left-wrap > h1{
    font-size: 40px;
    font-weight: 700;
    color: #5831ff;
}
.c2-left-con > .c2-left-wrap > p{
    font-size: 14px;
    margin: 20px 0;
    color: #535353;
}
.c2-left-con > .c2-left-wrap > button{
    width: 220px;
    height: 55px;

    outline: none;
    border: none;
    background-color: #5831ff;
    border-radius: 6px;

    color: #fff;
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
    transition: .3s ease-in-out;
}
.con4-wrap > button:hover,
.c2-left-con > .c2-left-wrap > button:hover{
    background-color: rgb(70, 44, 189);
}
.c2-right-con{
    width: 45%;
}
.c2-right-con > img{
    height: 500px;
}
.content3{
    width: 100%;
    height: 600px;

    background-color: rgba(228, 228, 228, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;
}
.content3-wrap-grid{
    width: 85%;
    height: 400px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}
.c3-con{
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    display: block;
}
.c3-con > img{
    width: 100%;
}
.c3-con > p{
    font-size: 12px;
    color: #535353;
    margin: 10px 0;
}
.c3-con > a{
    font-size: 12px;
    font-weight: 500;
    color: #5831ff;

    text-decoration: none;
}
.content4{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.con4-wrap{
    width: 70%;
    height: auto;

    display: block;
    text-align: center;
    margin: 50px 0;
}
.con4-wrap > h5{
    color: #535353;
}
.con4-wrap > h1{
    color: #5831ff;
}
.c4-grid-con{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    text-align: left;
    margin: 20px 0;
}
.c4-grid-wrap > img{
    width: 100%;
}
.c4-grid-wrap > a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #5831ff;
}
.c4-grid-wrap > a:hover{
    text-decoration: underline;
}
.con4-wrap > button{
    width: 230px;
    height: 50px;

    outline: none;
    border: none;

    background-color: #5831ff;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 500;
    color: #fff;

    cursor: pointer;
    transition: .3s ease-in-out;
}
footer{
    width: 100%;

    background-color: #5831ff;

    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-wrap{
    width: 100%;
}
.f1-con{
    display: flex;
    justify-content: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(221, 221, 221, 0.712);
    padding: 50px 230px;
}
.lang > h5,
.f1-txt > h5{
    font-size: 18px;
    color: #fff;
    margin: 0 0 10px 0;
}
.lang > select,
.f1-txt > h6{
    color: rgb(212, 212, 212);
}
.copyright{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright > h5{
    color: rgb(180, 179, 179);
}
.footer-nav-con{
    width: 100%;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.fnav-wrap{
    width: 100%;
    padding: 0 230px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.logo-text > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.logo-text > a > img{
    width: 50px;
    margin-right: 10px;
}
.logo-text > a > span{
    font-size: 30px;
    font-weight: 700;
}
.flogo-con > p{
    width: 270px;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}
.fsocialmeadi-icon{
    display: flex;
}
.fsocialmeadi-icon > a{
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 2px solid #fff;

    text-decoration: none;
    color: #fff;
    margin: 10px 10px 0 0;


    display: flex;
    align-items: center;
    justify-content: center;
}
.fnav h3{
    color: #fff;
}
.links > a{
    text-decoration: none;
    display: block;
    color: #fff;
}